<?xml version="1.0" ?>
<launch>
    <arg name="realsense_camera_type" default="Intel(R) RealSense(TM) Camera S" />

    <include file="$(find realsense_camera)/launch/realsense_camera.launch">
        <arg name="realsense_camera_type" value="$(arg realsense_camera_type)" />
	<arg name="rgb_frame_w" default="640" />
	<arg name="rgb_frame_h" default="480" />
        <arg name="depth_unit" default="8" />
    </include>
</launch>
